.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;   
}
.logo{
    margin-left: 2%;
    height: 90px;
}

.header2 {
    display: flex;
    justify-content:space-evenly;
    width: 30%;
    height: 100%;  
    font-weight: bold; 
    color: black;
    text-decoration: none;
}
.header2 a{
    color: black;
    text-decoration: none;
    width: 50%;
    height: 90px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

.titre p {
    font-weight: 300;
    margin-top: 0.5%;
}

.recherche {
    display: flex;
    justify-content:space-around;
    width: 42%; 
    height: 50px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgb(219, 218, 218);
    margin-left: 2%;
}
.recherche input {
    font-weight: bold;
}

.recherche i { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 218, 218);
    width: 15%;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;  
}
.titre{
    margin-left: 2%;
}

.recherche p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recherche img {
    display: none;
}

#search {
    width: 50%
}

#blanc {
   
    background-color: #0065FC;
    color: white;
    width: 35%;
    height : 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
#blanc p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

.filtres {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    width: 100%;
    height: 10%; 
    margin-left: -4%;
    text-align: center;
}
.filtres a {
    text-decoration: none;
    color: black;
}

.filtres i {
    color:#0065FC;
    border-radius: 50%;
    padding: 12px;
    background-color: #e3f2ff;
    margin-right:10%;
    margin-left: -6px;
}
.filtres a:hover {
    background-color:#0065FC;

}

.filtres a {
    display:flex;
    align-items:center;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 30px;
    width: 15%;
    height: 38px;
    text-align: center;
    font-size: 16px;
}
.filtres p {
    font-weight: bold;
}
.icone {
    display:flex;
    align-items:center;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}


.icone_info {
    display:flex;
    justify-content: center;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 50%;
    padding: 5px;
    margin-right: 1%;
    width: 30px;
    color:#0065FC;
    height: 30px;
}

.info {
    margin-left: 2%;
    display: flex;
    align-items:center;
    height: 30px;  
}
.info p {
    margin-top: 1%;
    font-weight: 300;
}
/*FIN DU HEADER*/

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: "raleway";
}
.selection {
    display: flex;
    justify-content: space-around;

}
.hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    background-color: #F2F2F2;
    height: 650px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;

}
.hebergement h2 {
    margin: 0;
}
.les_hebergements {
    width: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 0.5%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.les_hebergements:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.hebergement1 img {
    width: 100%;
    height: 120px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.hebergement2 img {
    width: 100%;
    height: 120px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.hebergement3 img {
    width: 100%;
    height: 120px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.hebergement4 img {
    width: 100%;
    height: 120px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}.hebergement5 img {
    width: 100%;
    height: 120px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.hebergement6 img {
    width: 100%;
    height: 120px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.fcb {
    display: flex;
    justify-content: space-around;

}
.fb:nth-child(3) {
    margin-top: 3%;

}
.desc_hebergement {
    width: 100%;
    margin-left: 15%;
    text-decoration: none;
    color: black;

}
.desc_hebergement h3 {
    margin: 0;
    margin-top: 3%;
    margin-left: 5%;
}
.desc_hebergement p {
    margin-top: 3%;
    font-family: 'Raleway';
    color: #949191;
    margin-left: 5%;   
}
.fb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;

}
.populaire {
    flex: 1;
    background-color:#F2F2F2;
    height: 650px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding-left: 1%;
    padding-right: 1%;

}
.populaire1 {
    width: 35%;
    height: 160px;
    padding-left: 1%;

}
.populaire1 img {
    width: 100%;
    height: 160px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 0 0 15px;

}
.populaire2 {
    width: 35%;
    height: 160px;
    padding-left: 1%;

}
.populaire2 img {
    width: 100%;
    height: 160px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 0 0 15px;

}
.populaire3 {
    width: 35%;
    height: 160px;
    padding-left: 1%;

}
.populaire3 img {
    width: 100%;
    height: 160px;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 0 0 15px;

}
.les_populaires {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1% 0 1% 0;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    

}
.les_populaires:hover {
    cursor: pointer;
    transform: scale(1.05);

}
.desc_populaires {
    width: 70%;
    padding-left: 5%;
    text-decoration: none;
    color: black;

}
.desc_populaires p {
    margin-top: 10px;
    font-family: 'Raleway';
    color: #949191;
}
.fca {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.etoiles {
    margin-bottom: 3%;
    margin-left: 5%;

}
.colorbleu {
    color: #0065fc;

}
.colorgris {
    color: #e1e0e0;

}
nav {
    display: flex;
    width: 100%;
    height: 500px;
}
.photo{
    height: 100%;
    width: 50%;
    display: flex; 
    flex-flow: wrap row;
    justify-content: space-around;
}
.photo1{
    width: 100%;
    height:90%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.photo2{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.photo3{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.activitephotos p {
    font-weight: bold;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
}
h1{
    margin-left: 1.3%;
}
.imgp{
    width: 45%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    text-decoration: none;
}
.imgp1{
    text-align: center;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    text-decoration: none;
}
.imgp2{
    text-align: center;
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    text-decoration: none;
}
.imgp:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.imgp1:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.imgp2:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.imgp:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.imagepetite{
    height: 100%;
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
footer{
    background-color:#F2F2F2 ;
    display: flex;
    justify-content: space-around;

}
.apropos {
    width: 30%;
    margin-bottom: 40px;
}
.noshebergement {
    width: 30%;
}
.assitance {
    width: 30%;
}
.linkfooter{
    width: 25%;
    margin-bottom: 1%;
    margin-left: 3%;
    text-decoration: none;
    color: black;
}
.linkfooter1{
    margin-bottom: 1%;
    margin-top: 3%;
    width: 25%;
    margin-left: 3%;
    text-decoration: none;
    color: black;
}
h5{
    font-weight: 250;
    margin-top:  0%;
}
@media(max-width:768px){
    .logo {
        width: auto;
        height: 60px;
        margin: 0;
        margin-top: 20px;
    }
    .header { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px ;
    }
    .header2 {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
    .header2 a {
        margin: 0;
        border-bottom:1px solid #949191;
        height: 50px;
    }
    .header2 a:hover { 
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }
    .titre{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .titre h2, .titre p {
        width: 90%;
    }
    .titre h2 {
        margin-bottom: 10px;
    }
    .recherche {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        border: 0;
        margin: 0%;
    }
    #blanc {
        height: 50px;
        width: 61px;
        background-color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #blanc p {
        display: none;
    }
    .recherche img {
        display: block;
        width: 30px;
        height: 30px;

    }
    .recherche i {
        height: 50px;
        
    }
    .filtres{
        margin: 0%;
        margin-left: 10px;
        height: 230px;
        flex-wrap: wrap;
        justify-content: unset;
        text-align: unset;
    }
    .filtres h4 {
        width: 100%;
        justify-content: flex-start;
        margin-left: 10px;
    }
    .filtres a {
        height: auto;
        width: 210px;
    }
    .filtres i {
        margin-right: 5%;
        margin-left: -2%;
    }
    .filtres a:nth-child(2) {
        width: 160px;
        margin-right: 10px;

    }
    .filtres a:nth-child(3) {
        width: 120px;
        margin-right: 10px;
    }
    .filtres a:nth-child(4) {
        width: 150px;
        margin-right: 415px;
    }
    

    .selection{
        flex-direction: column;
        height: auto;
    }
    .populaire {
        order: 1;
        border-radius: 0;
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .fca {
        align-items: center;
    }
    .les_populaires {
        width: 95%;
    }
    .hebergement{
        padding: 0;
        order: 2;
        width: 100%;
        height: auto;
        display: flex;
        margin: 0;
        background-color: white;

    }
    .hebergement h2 {
        margin-left: 20px ;
        margin-bottom: 30px;
    }
    .hebergement p {
        margin-left: 20px;
        width: auto;
    }
    .fcb {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .les_hebergements{
        width: 95%;
        margin-bottom: 20px;
    }
    .selection {
        width: 100%;
    }
    .selection2 h1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 20px;
    }
    
    .selection2 nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .photo{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .imgp {
        width: 95%;
    }
.photo1{ width: 100%;}

    .photo a {
        height: 253px;
        margin-bottom: 20px;
    }
    .imagepetite {
        width: 95%;
        height: auto;
        display: block;
    }
    .activitephotos img {
        height: 80%;
    }


    footer {
        flex-direction: column;
    }
    .apropos {
        width: 90%;
        margin-left: 30px;
    }
    .noshebergement {
        width: 90%;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .assitance {
        width: 90%;
        margin-left: 30px;
        margin-bottom: 50px;
    }
    

}